* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}


html::-webkit-scrollbar {
    width: 6px;
    background: #b9b3ae;
}

html::-webkit-scrollbar-track {
    background: none;
}

html::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* whtasapp web loader starts here */
#startup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #eeeeee;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.spinner-container {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}

.app-wrapper {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: auto;
    }

    .app-wrapper {
        width: 600px;
    }
}


/* whatsapp web loader ends here */



.logo {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/* my D.P */
.avatar {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.chat-header-right img {
    margin: 5px 13px;
}

body {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 6.5;
}

.header {
    display: flex;
    background-color: #ededed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    width: 100%;
    height: 35px;
    border-radius: 8px;
}

.sidebar-search-container img {
    height: 15px;
    width: 15px;
    margin: 0 15px;
}

#back-svg {
    display: none;
    color: #888;
    opacity: o.4;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 20px;
    background-color: #f0f2f5;
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    border-radius: 50%;
    flex: 1;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
    cursor: pointer;
    background-color: white;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;
}

/* .sidebar-chat:nth-child(2) {
    background-color: #ebebeb;
} */

.sidebar-chat::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
}


@media screen and (max-width: 767px) {
    .header {
        padding: 20px 20px;
        background-color: #1fa855;
    }

    .sidebar-search {
        padding: 10px 15px;
    }

    .sidebar-search-container {
        height: 40px;
    }

    .chat-avatar {
        height: 60px;
    }
}


@media screen and (max-width: 480px) {
    .header {
        padding: 8px 15px;
        position: relative;
        height: 50px;
        background-color: #1fa855;
    }

    .avatar {
        display: none;
    }

    #mobrgt {
        display: block;
        right: 0px;
        position: absolute;
    }

    #mobAvt {
        display: block;
    }

    .chat-header-right img {
        height: 20px;
        width: 25px;
        margin: 5px 10px;
        cursor: pointer;
    }

    .sidebar-search {
        padding: 5px 10px;
    }

    .sidebar-search-container {
        height: 30px;
    }

    .sidebar-chat::before {
        width: 73%;
    }

    .chat-avatar {
        height: 50px;
    }

    .chat-info p {
        display: none;
    }

    .sidebar-chats {
        height: calc(100vh - 150px);
    }

    .time p {
        font-size: 0.5rem;
    }
}


.onclick {
    background-color: #ededed;
}


/* message content */
.message-container {
    flex: 12;
    position: relative;
}

.back-btn {
    display: none;
}


.chat-title {
    display: flex;
    align-items: center;
}

.message-header-content {
    margin-left: 15px;
}

h4 {
    font-weight: 400;
}

.message-header-content p {
    font-size: 13px;
    color: gray;
}

.message-content {
    background-image: url('img/default-bg.jpg');
    background-position: center;
    height: 100vh;
    padding: 20px 80px;
    overflow-y: scroll;
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-sent {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}

.message-footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.message-footer img {
    width: 28px;
    height: 28px;
    opacity: 0.4;
    flex: 1;
    cursor: pointer;
}

.message-footer input {
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: 0;
    margin: 0;
    border-radius: 8px;
    font-size: 15px;
    border: none;
}

@media screen and (max-width: 767px) {
    .message-container {
        display: none;
    }

    .back-btn {
        display: block;
        margin-right: 10px;
    }

    .message-content {
        padding: 20px 20px;
    }

    .message-header-content p {
        color: black;
    }
}

@media screen and (max-width: 480px) {
    h4 {
        font-size: 0.7rem;
    }
}

